.takenlijst-container {
    height: auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width:480px) {
        padding: 20px;
    }

    .takenlijst {
        @media (max-width:480px) {
            max-width: 100%;
            overflow-x: scroll;
        }

        th, td {
            @media screen and (max-width: 1075px)
            {
                max-width: 135px;
                min-width: 135px;
                padding: 0.6rem;
            }

            @media screen and (min-width: 1076px) and (max-width: 1215px)
            {
                max-width: 170px;
                min-width: 170px;
                padding: 1rem;
            }

            @media screen and (min-width: 1216px) and (max-width: 1550px)
            {
                max-width: 190px;
                min-width: 190px;
                padding: 1rem;
            }
        }
    }

    .takenlijst, .ledenlijst {
        height: auto;
        width: auto;
        background: white;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    }

    .ledenlijst {
        margin-top: 50px;

        @media (max-width:480px) {
            th, td {
                max-width: 215px;
                min-width: 215px;
            }
        }

        td {
            padding: 1rem 1.6rem 1rem 1.6rem;
        }

        th:last-child {
            text-align: right;
        }
    }
}

.knoppen, .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;

    button {
        position: relative;
        overflow: hidden;
        border: none;
        padding: 13px 40px;
        border-radius: 2px;
        font-size: inherit;
        outline: none;
        transition: all 400ms linear;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 5px;
            height: 5px;
            background: rgba(255, 255, 255, .5);
            opacity: 0;
            border-radius: 100%;
            transform: scale(1, 1) translate(-50%);
            transform-origin: 50% 50%;
        }

        @keyframes ripple {
            0% {
                transform: scale(0, 0);
                opacity: 1;
            }
            20% {
                transform: scale(25, 25);
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: scale(40, 40);
            }
        }

        &:focus:not(:active)::after {
            animation: ripple 1s ease-out;
        }
    }

    .print {
        color: #FFF;
        background: #42a4f4;

        &:hover {
            background: #3b93db;
        }
    }

    .reset {
        color: #FFF;
        background: #ea3f3f;
        margin-left: 0.5rem;

        &:hover {
            background: #d23838;
        }
    }

    .gelukt {
        color: #5cb85c;
        font-weight: bolder;
    }

    .mislukt {
        color: #d9534f;
        font-weight: bolder;
    }

    .opslaan, .toevoegen {
        color: #FFF;
        background: #95d13c;

        &:hover {
            background: #86bc36;
        }
    }

    .input-group {
        border: 2px solid #eee;
        position: relative;
        background: #eee;
        border-radius: 2px;
        overflow: hidden;
        padding: 5px 0px;
        margin-right: 100px;

        @media (max-width:480px) {
            margin-right: 10px;
        }

        input {
            border: none;
            background: transparent;
            width: 100%;
            outline: none;
            font-size: 14px;
            padding: 0px 12px;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                transition: background-color 5000s ease-in-out 0s;
            }
        }
    }
}

.rechts {
    text-align: right;
}

.verwijder {
    color: #E74C3C;
    cursor: pointer;
    user-select: none;
}

.select-wrapper {
    position: relative;

    .caret {
        color: initial;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 10px;
        margin-top: 10px;
        font-size: 10px;
        line-height: 10px;
    }

    .select-dropdown {
        position: relative;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        line-height: 2rem;
        width: auto; //100%
        font-size: 1rem;
        padding: 0;
        display: block;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        resize: none;
        width: calc(100% - 10px);
        overflow: hidden;
    }

    .dropdown-content {
        background-color: #fff;
        margin: 0;
        display: block;
        min-width: max-content; //100px
        max-height: 0;
        overflow-y: scroll;
        opacity: 0;
        position: absolute;
        z-index: 999;
        will-change: width, height;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        padding-left: 0;
        width: 100%;
        top: 0px;
        left: 0px;
        transition: max-height 0.7s ease-in-out;

        li {
            clear: both;
            color: rgba(0,0,0,0.87);
            cursor: pointer;
            min-height: 50px;
            line-height: 1.5rem;
            width: 100%;
            text-align: left;
            text-transform: none;
            list-style-type: none;

            &:hover {
                background-color: #eee;
            }

            span {
                font-size: 16px;
                color: #26a69a;
                display: block;
                line-height: 22px;
                padding: 14px 16px;
            }
        }

        .selected {
            background-color: #f3f3f3;
        }
    }
}

@media print
{
    // @page {
    //     size: landscape;
    // }

    body {
      -webkit-print-color-adjust: exact;
      background-color: white;
      font-size: 18px !important;
    }

    .week th {
        padding-top: 70px !important;
    }

    thead th {
        font-size: 16px !important;
    }

    tbody td:first-child {
        font-size: 12px !important;
    }

    .header {
        td {
            font-size: 15px !important;
        }
        &.wekelijks td {
            border-top: none !important;
        }
    }

    .select-dropdown {
        font-size: 12px !important;
        height: auto !important;
        width: 100% !important;
    }

    .no-print, .no-print *
    {
        display: none !important;
    }

    tbody tr:nth-child(odd) {
        background-color: #f7f7f7 !important;
    }

    th, td {
        padding: 1.3rem !important;
        max-width: 200px !important;
        min-width: 0 !important;
    }
}